{% extends 'admin.html.twig' %}

{% block title %}Edit Prescription{% endblock %}

{% block contenu %}
    <h1>Prescription</h1>

    {{ include('admin/medic_prescription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medic_prescription_index') }}">back to list</a>

    <a href=" {{ include('admin/medic_prescription/_delete_form.html.twig') }}">delete</a>

{% endblock %}
