{% extends 'admin.html.twig' %}
{% block contenu %}
<h1>Create new Prescription</h1>

    {{ include('admin/medic_prescription/_form.html.twig') }}

    <a href="{{ path('medic_prescription_index') }}">back to list</a>

{% endblock %}