{% extends 'base.html.twig' %}

{% block title %}Edit Pharmacist{% endblock %}

{% block body %}
    <h1>Edit Pharmacist</h1>

    {{ include('backend/pharmacist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pharmacist_index') }}">back to list</a>

    {{ include('backend/pharmacist/_delete_form.html.twig') }}
{% endblock %}
