{% for message in app.flashes('sucess') %}
 <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div class="container-fluid">
 <!-- ============================================================== -->
 <!-- Start Page Content -->
 <!-- ============================================================== -->
 <div class="row">
  <div class="col-md-12">
   <div class="card card-body printableArea">
    <h3><b>PRESCRIPTION ID:</b> <span class="pull-right">o uioihjjh</span></h3>
    <hr>
    <div class="row">
     <div class="col-md-12">
      <div class="pull-left">
       <address>
        <h3> &nbsp;<b class="text-danger">jh bkhjkbj</b></h3>
        <p class="text-muted m-l-5">hkiuhoi
         <br> kluygiuhli,
         <br> 61484,
         <br> 46546545</p>
       </address>
      </div>
      <div style="text-align: right"  >

       <address >
        <h3>To,</h3>.
        <h4 class="font-bold">Gaala &amp; Sons,</h4>
        <p class="text-muted m-l-30">E 104, Dharti-2,
         <br> Nr' Viswakarma Temple,
         <br> Talaja Road,
         <br> 14164
         65</p>
        <p class="m-t-30"style="text-align: left" ><b>Due Date :</b> <i class="fa fa-calendar"></i> 41564136</p>
        {#                                <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2018</p>#}
       </address>
       <hr>
      </div>
     </div>
     <div class="col-md-12">
      <div class="table-responsive m-t-40" style="clear: both;">
       <table class="table table-hover">
        {#                            <table class="table">#}
        <tbody>

        <tr>
         <th>Age</th>
         <td>614663</td>
        </tr>

        <tr>
         <th>Diagnostic</th>
         <td>6146
          6</td>
        </tr>
        <tr>
         <th>Blood_pressure</th>
         <td>ksgbvjb j</td>
        </tr>
        <tr>
         <th>Pulse_rate</th>
         <td>54656</td>
        </tr>
        <tr>
         <th>Drug</th>
         <td>643</td>
        </tr>
        <tr>
         <th>Unite</th>
         <td>4163</td>
        </tr>
        <tr>
         <th>Dosage</th>
         <td>6851
          +6</td>
        </tr>
        <tr>
         <th>Examination</th>
         <td>46451351/td>
        </tr>
        <tr>
         <th>461
          64</th>
         <td>617+
          6
          1</td>
        </tr>
        </tbody>
       </table>



      </div>
      <div class="col-md-12" style="text-align: right">

       <div class="pull-right m-t-30 text-right">
        {#                                <p>Sub - Total amount: $13,848</p>#}
        {#                                <p>vat (10%) : $138 </p>#}<h2><b>Thanks </b></h2>
        <hr>
        <h3> Your health is Our Priority</h3>
       </div>
       <div class="clearfix"></div>
       <hr>

      </div>
     </div>
    </div>
   </div>
  </div>

 </div>
</div>

this is my query:
{{ notification.subject }}
 Thank you!!!!!!1